.navbar{
    width: 80vw;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.components1{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid white; */
    width: 20%;
    justify-content: space-evenly;
}

h1{
  font-weight: 800;
  font-size: 30px;
}

@media (max-width: 1450px) {
  .navbar {
    width: 80vw;
    padding: 2rem;
  }
} 

@media (max-width: 1350px) {
    .components1{
            width: 40%;
    }
}

@media (max-width: 750px) {
    .components1{
            width: 50%;
    }
}

@media (max-width: 650px) {
    .navbar{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .components1{
            width: 100%;
    }
}
@media (max-width: 340px) {
    h1{
      font-size: 20px;
    }
    h5{
      font-size: 15px;
    }
}

.link-heading{
  text-decoration: none;
}
.product-card{
  width: 300px;
  height: 400px;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: black;
  border-radius: 20px;
  margin: 20px;
}
.image-container{
  /* border: 1px solid white; */
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-image{
  width: 80%;
  border-radius: 20px;
  
}
.product-name{
  color: white;

}
.delete-icon{
  width: 25px;
}
.delete-icon:hover{
  transform: scale(0.91);
}
.edit-options{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: 1px solid white; */
  width: 90%;
  justify-content: space-evenly;
  /* padding: 10px; */
  height: max-content;
}
.info{
  /* border: 1px solid white; */
  height: 100%;

}

footer{
  background-color: black;
  color: white;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}