*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(11, 22, 29);
}

/* Hide scrollbar for Chrome, Safari, Edge */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
body {
  scrollbar-width: none;
}

/* Hide scrollbar for IE, Edge (older) */
body {
  -ms-overflow-style: none;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;   /* Prevent horizontal scroll */
}

